div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 About
    p.lead {{about}}
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')


footer.footer
  .container
    p
      | Kirill Sevastyanenko
      = ' | '
      | 2014
