div(ng-include='"components/navbar/navbar.html"')


header#banner.hero-unit
  .container
    h1
      i(class="fa fa-pause")
    img(src="{{picture}}", alt="{{name}}")


{{resp}}
footer.footer
  .container
    p
      | Kirill Sevastyanenko
      = ' | '
      | 2014
