div(ng-include='"components/navbar/navbar.html"')


header#banner.hero-unit
  .container
    p.lead {{EightTracks.name}}
    div.controls
      h1
        i(class="fa fa-pause")
        p
        i(class="fa fa-forward")
    img(src="{{EightTracks.picture}}", alt="{{EightTracks.name}}")



{{EightTracks.resp}}
footer.footer
  .container
    p
      | Kirill Sevastyanenko
      = ' | '
      | 2014

audio(id="player", type="audio/mpeg")
