div(ng-include='"components/navbar/navbar.html"')


header#banner.hero-unit
  .container
    p.lead {{EightTracks.name}}
    h1
      i(class="fa fa-pause")
    img(src="{{EightTracks.picture}}", alt="{{EightTracks.name}}")



{{EightTracks.resp}}
footer.footer
  .container
    p
      | Kirill Sevastyanenko
      = ' | '
      | 2014
