.fa-play {
    margin-left: auto;
    margin-right: auto;
    float: center;
    cursor: pointer;
    // position: relative;
}

.fa-pause {
    margin-left: auto;
    margin-right: auto;
    float: center;
    cursor: pointer;
}

.fa-forward {
    float: right;
    cursor: pointer;
}

.fa-volume-off {
    float: left;
    cursor: pointer;
}

.fa-volume-up {
    float: left;
    cursor: pointer;
}

i {
  display: inline-block;
}

.container {
  text-align: center;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.disabled {
  color: #B5B5B5;
}

.progress{
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
  background-color: black;
  height: 5px;
}

.controls {
  max-width: 400px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
}

.albumArt {
  display: block;
  float: center;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  max-width:500px;
}

.mainArt {
  position: relative;
  display: block;
  float: center;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  max-width:500px;
}

.mainArt img {
  border: 10px solid #f7f7f7;
  border-top: 5px solid #f7f7f7;
  border-bottom: 45px solid #f7f7f7;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.mainArt p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 22px/1 'HelveticaNeue-Light';
  color: #888;
}

.songName {
  font: 400 22px/1 'HelveticaNeue-Light';
  margin-top: 10px;
}
