div(ng-include='"components/navbar/navbar.html"')



.container
  h1.controls
    i(class="fa fa-pause" ng-show="playing" ng-click="pauseTrack()")
    i(class="fa fa-play" ng-hide="playing" ng-click="playTrack()")
    i(class="fa fa-forward" ng-class="{disabled: currentSkips===0}" ng-click="skipTrack()")
  div
  .mainArt
    p {{currentMix.name}}
    img(class="albumArt" src="{{albumArt}}", alt="{{currentMix.name}}")
  p.songName {{name}}
  .progress(id="progress" style="width: {{progress}}%")



footer.footer
  .container
    p
      | Kirill Sevastyanenko
      = ' | '
      | 2014

audio(id="player", type="audio/mpeg")
